
.popup-card{
    position: absolute;
    left:5vw;
    top:5vw;
    right:5vw;
    bottom: 5vw;;
    background-color:lavender;
    height: 90vh;
    width: 90vw;
    padding: 20px;
    
}
    .popup-card-title{
        font-size: large;
        color: darkblueå;
    }
    .popup-card-paragraph{

    }

.sm{
font-size: 12px;
padding-top:10px ;
text-align: center;
}